
<!doctype html>
<html lang="en">
  <head>
    <title>팀원 소개</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="static/css/custom-bs.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/quill.snow.css">
    

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/style.css">    
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
        <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="index">Python Web Project</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="index" class="nav-link active">Home</a></li>
              <li><a href="about">소개</a></li>
              <li class="has-children">
                <a href="#">분석</a>
                <ul class="dropdown" style="width: 300px;">
                  <li><a href="wordcloud">워드클라우드분석</a></li>
                  <li><a href="youtube_data">유튜브 관련 데이터 분석</a></li>
                  <li><a href="upload_date&views">동영상 등록일과 조회수 분석</a></li>
                  <li><a href="jaehong">조회수 상관분석</a></li>
                </ul>
              </li>
              <li><a href="board">게시판</a></li>
            </ul>
          </nav>
          

        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('static/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">소개</h1>
            <div class="custom-breadcrumbs">
              <a href="index"><strong>HOME</strong></a><span class="mx-2 slash">/</span>
              <span class="text-white"><strong>소개</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">

        <div class="row align-items-center block__69944">

          <div class="col-md-3">
            <img src="static/images/liver.jpg" alt="Image" class="img-fluid mb-4 rounded" width="230">
          </div>

          <div class="col-md-6">
            <h3>전 재홍</h3>
            <p class="text-muted">팀장</p>
            <p>팀원들과 함께 프로젝트를 만들었습니다. 역할 분담 및 조회수 관련 데이터 상관분석코딩 파트를 맡았습니다. 데이터를 정제해서 데이터프레임을 생성한 후 여러 분석을 시각화하여 결과를 도출하였습니다.</p>
            
          </div>
      </div>
      </div>
      <div class="container">

        <div class="row align-items-center block__69944">

          <div class="col-md-3">
            <img src="static/images/yujin.jpg" alt="Image" class="img-fluid mb-4 rounded" width="230">
          </div>

          <div class="col-md-6">
            <h3>정 유진</h3>
            <p class="text-muted">팀원</p>
            <p>국가별 영상제목과 태그의 워드클라우드와 RNN모델을 이용한 유튜브 제목생성 파트를 맡았습니다.</p>
            
          </div>
      </div>
      </div>
      <div class="container">

        <div class="row align-items-center block__69944">

          <div class="col-md-3">
            <img src="static/images/june.jpg" alt="Image" class="img-fluid mb-4 rounded" width="230">
          </div>

          <div class="col-md-6">
            <h3>안 준혜</h3>
            <p class="text-muted">팀원</p>
            <p>등록일과 조회수를 담당하였습니다. 도넛 그래프를 이용해서 동영상 수가 카테고리별, 요일별, 시간별로 분포하는지와 interaction_plot을 이용해 조회수가 카테고리별, 요일별, 시간별로 분포하는지를 시각화로 표현하였습니다.  </p>
            
          </div>
      </div>
      </div>
      <div class="container">

        <div class="row align-items-center block__69944">

          <div class="col-md-3">
            <img src="static/images/daehee.jpg" alt="Image" class="img-fluid mb-4 rounded" width="230">
          </div>

          <div class="col-md-6">
            <h3>이 대희</h3>
            <p class="text-muted">팀원</p>
            <p>전체적인 웹 페이지 제작을 담당했습니다. 템플릿사용, css, 배치, 메뉴 등의 구조와 게시판 기능을 만들었습니다. 각 팀원들의 작업물들을 결합했습니다.</p>
            
          </div>
      </div>
      </div>
      <div class="container">

        <div class="row align-items-center block__69944">

          <div class="col-md-3">
            <img src="static/images/ornn.png" alt="Image" class="img-fluid mb-4 rounded" width="230">
          </div>

          <div class="col-md-6">
            <h3>강 지훈</h3>
            <p class="text-muted">팀원</p>
            <p>유튜브 데이터에서 기본적인 분석 및 시각화를 담당했습니다. 유튜브 데이터에서 가장 중요하고 사람들이 관심 가지는 조회수(시청수), 좋아요 수, 싫어요 수, 댓글 수, 카테고리 분류 관련하여 분석 및 시각화를 진행하였습니다.</p>
            
          </div>
      </div>
      </div>
    </section>

    <footer class="site-footer">
      <div class="container">
      	<div style="text-align: center;">
            <h3>재홍 유진 지훈 준혜 대희 팀 </h3>
      	</div>
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>
            </small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>

    <!-- SCRIPTS -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/stickyfill.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.animateNumber.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/quill.min.js"></script>
    
    
    <script src="static/js/bootstrap-select.min.js"></script>
    
    <script src="static/js/custom.js"></script>
   
   
  </body>
</html>